<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="马自达MC同步器.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <马自达MC同步器.Settings>
            <setting name="Address" serializeAs="String">
                <value>https://frp-bid.top:28996</value>
            </setting>
            <setting name="MaxDownloadCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
        </马自达MC同步器.Settings>
    </userSettings>
</configuration>